<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
절때 젤앞에 빈칸주지말기

xml은 External Markup Language 줄임말.  Markup Language 가 표시하는 언어. 데이터를 표현하는 언어.
 여러 플랫폼에서 사용할수 있다. JSON과 비슷하다


 html 은 ㅓ=Hyper Text Markup Language 둘다 마크업 언어이다

 <태그명> 태그를 사용 할 수 있다. 태그이름과 속성값은 어떻게 처리할지 약속되어 있다.
  그 약속은 플랫폼마다 모두 다르다 침고로 안드로이드에서는 화면을 xml파일로 어쩌구 저쩌구
  <mapper namespace="연결할 interface full path">
  <insert id = "insBoard">
    </insert>
 띄어쓰기 조심
 <select id="selBoardList "> 이상태에서 에러터짐
  -->

<mapper namespace="com.green.board.BoardMapper">
    <insert id="insBoard">
        insert into board
        (title, contents, writer)
        values (#{title}, #{contents}, #{writer})
    </insert>

    <select id="selBoardList">
        select board_id as boardId , title, writer, created_at as createdAt
        from board
        order by board_id desc
    </select>

    <select id="selBoardOne">
        select board_id as boardId, title, contents, writer, created_at as createdAt
        from board
        where board_id = #{board_id}
    </select>
</mapper>